{% extends "bootstrap/base.html" %}
{% block content %}
<!doctype html>
<html>
<head>
</head>
<body>
<div class="container" style="width:100%;">
  <div class="jumbotron" style="background-image: linear-gradient(to bottom, #80dfff , #99ccff); !important;">
    <h2 style="color:#fff;">Diabetes Readmission Classifier</h2>
    <p class="usingml" style="color:#fff;">Using Machine Learning to Classify Diabetes Readmission</p> <hr>
  </div>
</div>


<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color: #ffecb3; padding:74px 20px">
      </div>
        <div id="one" class="panel-body">
<!-- Main Input For Receiving Query to our ML -->
      	<form action="{{ url_for('predict')}}" method="POST">
            <p class="intro"> Fill out the following information to predict the probability
                of being readmitted back into the hospital. </p>
            <label for="gender">Gender: </label>
            <select id="gender" name="gender" required>
                <option value="" selected disabled hidden>Select an Option...</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
            <br>
            <label for="age">Age: </label>
            <select class="select-css" id="age" name="age" required>
                <option value="" selected disabled hidden>Select an Option...</option>
                <option value=1>0-9 Years Old</option>
                <option value=2>10-19 Years Old</option>
                <option value=3>20-29 Years Old</option>
                <option value=4>30-39 Years Old</option>
                <option value=5>40-49 Years Old</option>
                <option value=6>50-59 Years Old</option>
                <option value=7>60-69 Years Old</option>
                <option value=8>70-79 Years Old</option>
                <option value=9>80-89 Years Old</option>
                <option value=10>90+ Years Old</option>
            </select>
            <br>
            <label for="num_medications">Number of Medications: </label>
            <input type="number" id="num_medications" name="num_medications" placeholder="Enter a Number (example: 10...)" required>
            <br>
            <label for="num_lab_procedures">Number of Lab Procedures: </label>
            <input type="number" id='num_lab_procedures' name="num_lab_procedures" placeholder="Enter a Number (example: 20...)" required>
            <br>
            <label for="num_lab_procedures">Number of Inpatient Visits: </label>
            <input type="number" id='num_lab_procedures' name="number_inpatient" placeholder="Enter a Number (example: 30...)" required>
            <br>
            <label for="number_outpatient">Number of Outpatient Visits:</label>
            <input type="number" id="number_outpatient" name="number_outpatient" placeholder="Enter a Number (example: 40...)" required>
            <br>
            <label for="number_emergency">Number of Emergency Visits:</label>
            <input type="number" id='number_emergency' name="number_emergency" placeholder="Enter a Number (example: 50...)" required>
            <br>
            <label for="diag_2">Diagnosis: </label>
            <select class="select-css" id="diag_2" name="diag_2" required>
                <option value="" selected disabled hidden>Select an Option...</option>
                <option value="external injury and supplemental">External Injury and Supplemental</option>
                <option value="infectious and parasitic">Infectious and Parasitic</option>
                <option value="neoplasms">Neoplasms</option>
                <option value="thyroid">Thyroid</option>
                <option value="diabetes">Diabetes</option>
                <option value="nutritional, metabolic, immunity">Nutritional, Metabolic, or Immunity</option>
                <option value="blood">Blood</option>
                <option value="mental">Mental</option>
                <option value="nervous">Nervous</option>
                <option value="circulatory">Circulatory</option>
                <option value="respiratory">Respiratory</option>
                <option value="digestive">Digestive</option>
                <option value="genitourinary">Genitourinary</option>
                <option value="pregnancy">Pregnancy</option>
                <option value="skin">Skin</option>
                <option value="musculoskeletal">Musculoskeletal</option>
                <option value="congenital">Congenital</option>
                <option value="perinatal">Perinatal</option>
                <option value="symptoms">Symptoms</option>
                <option value="injury and poisoning">Injury and Poisoning</option>
            </select>
            <br>
            <label for="insulin">Insulin:</label>
            <select class="select-css" id="insulin" name="insulin" required>
                <option value="" selected disabled hidden>Select an Option...</option>
                <option value="Up">Up</option>
                <option value="Steady">Steady</option>
                <option value="Down">Down</option>
                <option value="No">No</option>
            </select>
            <br>
            <label for="time_in_hospital">Time in Hospital:</label>
            <select class="select-css" id="time_in_hospital" name="time_in_hospital" required>
                <option value="" selected disabled hidden>Select an Option...</option>
                <option value="1">1 day</option>
                <option value="2">2 days</option>
                <option value="3">3 days</option>
                <option value="4">4 days</option>
                <option value="5">5 days</option>
                <option value="6">6 days</option>
                <option value="7">7 days</option>
                <option value="8">8 days</option>
                <option value="9">9 days</option>
                <option value="10">10 days</option>
                <option value="11">11 days</option>
                <option value="12">12 days</option>
                <option value="13">13 days</option>
                <option value="14">14+ days</option>
            </select>
            <br>
            <label for="number_diagnoses">Number of Diagnoses: </label>
            <input type="number" id='number_diagnoses' name="number_diagnoses" placeholder="Enter a Number (example: 60...)" required>
            <br>
            <label for="metformin">Metformin:</label>
            <select class="select-css" id="metformin" name="metformin" required>
                <option value="" selected disabled hidden>Select an Option...</option>
                <option value="Up">Up</option>
                <option value="Steady">Steady</option>
                <option value="Down">Down</option>
                <option value="No">No</option>
            </select>
            <br>
            <label for="num_procedures">Number of Procedures:</label>
            <input type="number" id="num_procedures" name="num_procedures" placeholder="Enter a Number (example: 70...)" required>
            <br>
            <label for="change">Change in Medications:</label>
            <select class="select-css" id="change" name="change" required>
                <option value="" selected disabled hidden>Select an Option...</option>
                <option value="Ch">Yes</option>
                <option value="No">No</option>
            </select>
            <br><br>
			<button type="submit" class="btn btn-primary">Predict</button>
			</form>

<!-- Main Input For Receiving Query to our ML -->


        </div>
    </div>
</div>
</body>
</html>



{% endblock %}

{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<link rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}